@page "{youtuber}"
@model Youtuber
@{
    var ytName = RouteData.Values["youtuber"];
    ViewData["Title"] = ytName;
    var ytIndex = Model.youtubers.FindIndex(i => i.getName() == ytName.ToString());
    var yt = Model.youtubers[ytIndex];

    var fullImg = yt.getName() + ".jpg";
    var categoryId = 0;
    var active = ""; 
}

<section class="front-section" style="background-image: url(/img/full/@fullImg);">
    <div class="front-section bg-dark bg-opacity-50"  >
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold" asp-area="" asp-page="/Index">ACCUEIL</a>
                            </li>
                            @foreach (var link in Model.youtubers)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-page="/yt" class="" asp-route-youtuber=@link.getName()>@link.getName()</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="div-title d-flex flex-column align-items-center title-box">
            <h1 class="display-2 my-5 fw-bold">@yt.getName()</h1>
            <a class="url-btn my-5 p-3" href="@yt.getChanelUrl()">Visitez sa chaîn youtube</a>
        </div>
    </div>
</section>
<section class="content-section"> 
    <div class="d-flex flex-column justify-content-center p-5">
        <p class="w-100 text-center mb-0">@yt.getIntro()</p>
        <p class="w-100 text-center mb-0">Vous trouverez ci-dessous les principales catégories de vidéos sur la chaîne</p>
    </div>
    <article id="carouselExampleControls" class="carousel slide" data-interval="false" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var category in yt.getCategories()) 
            {
                if(categoryId == 0) 
                {
                    active = "active";
                } else
                {
                    active = "";
                };
                <div class="carousel-item @active @categoryId @ytName-@categoryId py-5">
                    <div class="d-flex article-div">
                        <div class="article-video-div">
                            <iframe class="w-100" style="height: 100%;" src="@category.videoSrc" title="@category.videoTitle" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="article-text-div">
                            <h4 class="text-center py-2">@category.title</h4>
                            <p class="text-category">@category.text</p>
                        </div>
                    </div>
                </div>       
                categoryId++;
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </article>
</section>
<footer class="footer py-3">
        <div class="container text-center">
            &copy; 2022 - En Route
        </div>
</footer>
@section scripts{
    <script src="/js/yt.js"></script>
}
